body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

/* background image */
.bgimg-1 {
  background-image: url('/images/background-header.jpg');
  min-height: 400px;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-wide {
  letter-spacing: 0.3rem;
}

.text-wide-lg {
  letter-spacing: 1.5rem;
  text-indent: 1rem;
}

.card-img-top-custom {
  object-fit: cover;
  width: 100%;
  height: 45vw;
}

.card-header-fixed {
  height: 10vh;
}

.bg-darker {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-darkish {
  background-color: var(--bs-gray-800, #343a40);
}

.text-shadow {
  text-shadow: 1px 2px 4px black;
}

#info-banner {
  border-radius: 0;
}

#info-banner-content {
  max-width: 100%;
  display: flex;
  overflow: hidden;
}

#info-banner-text {
  animation: scroll-x 15s linear infinite;
}

@keyframes scroll-x {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* For desktop and tablets */
@media only screen and (min-device-width: 768px) {
  .carousel {
    width: 50% !important;
  }

  .card-img-top-custom {
    object-fit: cover;
    width: 100%;
    height: 15vw;
  }
}
