<!-- toast popups -->
<script type="text/javascript">
  setTimeout(function(){
    $("#liveToast").toast("show");
  }, 30000); // 30 seconds until toast pops up
</script>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
      <strong class="me-auto">Your Opinions Matter</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Help us by scoring beers on <a href="https://whatpub.com/login">WhatPub</a>!
    </div>
  </div>
</div>

<!-- footer -->
<footer class="bg-secondary text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <!-- facebook -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/Campaign-For-Real-Ale-CAMRA-Vale-of-Glamorgan-Bridgend-Branch-280055688703454" role="button">
        <i class="fa fa-facebook-f"></i>
      </a>

      <!-- twitter -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://twitter.com/CamraVog" role="button">
        <i class="fa fa-twitter"></i>
      </a>

      <!-- instagram -->
      <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/vog_brewery/" role="button">
        <i class="fa fa-instagram"></i>
      </a>

      <!-- back to top -->
      <a class="btn btn-outline-light btn-floating m-1" href="#top" role="button">
        <i class="fa fa-arrow-up"></i>
      </a>
    </section>
  </div>

  <!-- copyright -->
  <div class="text-center p-3 bg-darker">
    &copy; <span id="copyright"> <script>$('#copyright').text(new Date().getFullYear());</script></span> Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Vale of Glamorgan and Bridgend - CAMRA</a>
  </div>
</footer>
