<!-- side section -->
<div class="row justify-content-center">
  <!-- good beer guide -->
  <div class="card p-0" style="width: 18rem;">
    <div class="card-header">
      <p class="card-text">Order your Good Beer Guide today!</p>
    </div>
    <img src="/images/good-beer-guide.jpg" class="card-img-top" alt="The Good Beer Guide">
    <div class="card-body text-center">
      <a target="_blank" href="https://shop1.camra.org.uk/" class="btn btn-outline-dark">Visit the shop</a>
    </div>
  </div>
</div>
<div class="row my-5 justify-content-center">
  <!-- branch pub of the year -->
  <div class="card p-0" style="width: 18rem;">
    <div class="card-header text-center">
      <p class="card-text">Branch Pub Of The Year</p>
    </div>
    <img src="/images/annual-branch-pub-winner.png" class="card-img-top" alt="The Good Beer Guide">
    <div class="text-center card-footer">Year 2019</div>
  </div>
</div>
